* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paraOOO {
  color: #8f18ad;
  text-align: center;
  font-family: 'Georgia';
}
.paraOO {
  color: #8f18ad;
  font-family: 'Georgia';
}
.mainDiv {
  background-color: aliceblue;
  padding: 12px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 786px) {
  .mainDiv {
    background-color: aliceblue;
    padding: 12px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.heading {
  font-size: 30px;
  text-align: center;
  color: #ca2831;
}

.off {
  margin-bottom: 20px;
}

.onForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 12px;
}

.personalDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dis {
  background-size: cover;
  background-color: lightblue;
  padding: 12px;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.status {
  display: flex;
  flex-direction: row;
}
.status-input {
  height: 20px;
  width: 150px;
}
.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

@media screen and (min-width: 786px) {
  .input-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    margin-top: 12px;
  }
}

@media screen and (min-width: 786px) {
  .input-div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 12px;
  }
}

.personal {
  font-family: 'Georgia';
  font-weight: 500;
  color: green;
  font-size: 18px;
  padding: 5px;
  text-decoration: underline;
}

@media screen and (min-width: 786px) {
  .personal {
    font-family: 'Georgia';
    font-weight: 500;
    color: green;
    font-size: 25px;
    padding: 12px;
    text-decoration: underline;
  }
}

.personal-para {
  color: blue;
  font-family: 'Georgia';
  font-weight: 500;
}

.button {
  background-color: blue;
  border-width: 0px;
  color: #ffffff;
  height: 30px;
  cursor: pointer;
}
